<div class="card">

  <div class="row">
    <div class="col-sm-12">


      <div class="row">
        <div class="col-sm-2 text-right">
          <%= image_tag(user.avatar.url, style: 'width: 80px; margin-bottom: 2em', class: 'img-rounded') -%>
        </div>
        <div class="col-sm-10">
          <div class="username">
            @<%= user.username -%>
          </div>
          <p>
            <%= raw user.description -%>
          </p>

        </div>
      </div>


      <div class="form-horizontal">

        <% unless user.flattr.blank? %>
            <!-- Flattr Button -->
            <div class="form-group">
              <label for="flattrButton" class="col-sm-2 control-label">Flattr</label>
              <div class="col-sm-10">


                <div>
                  <script id='<%= user.flattr.downcase -%>'>(function (i) {
                    var f, s = document.getElementById(i);
                    f = document.createElement('iframe');
                    f.src = '//button.flattr.com/view/?user_id=<%= user.flattr.downcase %>&button=compact&url=' + encodeURIComponent(document.URL);
                    f.title = 'Flattr';
                    f.height = 20;
                    f.width = 110;
                    f.style.borderWidth = 0;
                    s.parentNode.insertBefore(f, s);
                  })('fb409xu');</script>
                </div>


              </div>
            </div>
        <% end %>

        <% unless user.bitcoin_address.blank? %>
            <!-- Bitcoin Address -->
            <div class="form-group">
              <label for="bitcoinAddress" class="col-sm-2 control-label">Bitcoin</label>
              <div class="col-sm-10">
                <div class="input-group">
                  <input type="text" id="bitcoin<%= user.id %>" class="form-control"
                         readonly value="<%= user.bitcoin_address -%>"/>
                     <span class="input-group-btn">
                       <button class="btn btn-default" data-clipboard-target="#bitcoin<%= user.id %>">
                       <img class="clippy" src="/assets/clippy.svg" width="13" alt="Copy to Clipboard"/>
                     </button>
                   </span>
                </div>
              </div>
            </div>
        <% end %>

        <% unless user.patreon.blank? %>
            <!-- Patreon -->
            <div class="form-group">
              <label for="patreon" class="col-sm-2 control-label">Patreon</label>
              <div class="col-sm-10">

                <div class="alignment">
                  <%= link_to user.patreon, user.patreon %>
                </div>

              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
