<!DOCTYPE html>
<html>
<head>
  <title>Updip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' -%>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
  </script>
</head>
<body style="background-image: url(/assets/background.jpg); background-size: cover;">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
